/* width */
::-webkit-scrollbar {
    width: 12px;
    opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background-color: rgb(255 255 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

html {
    background-color:black;
}

body {
    min-height: 100vh;
}